<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<klarna>
				<countries>AT,FI,DE,NO,SE</countries>
				<country_restriction>whitelist</country_restriction>
				<requireBillingAddress>1</requireBillingAddress>
				<payment_action>authorize_capture</payment_action>
				<title>Klarna</title>
				<title_backend>Klarna</title_backend>
				<toc>customer-service</toc>
			</klarna>
		</df_payment>
        <payment>
            <dfe_klarna>
				<model>Dfe\Klarna\Method</model>
            </dfe_klarna>
        </payment>
    </default>
</config>