<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2017-01-21
It is not quite right, and should be refactored:
https://github.com/mage2pro/klarna/blob/6ef6ebb/etc/adminhtml/system.xml#L160-L183
-->
	<virtualType name='Dfe\Klarna\Validator\Currency' type='Df\Framework\Validator\Currency'>
		<arguments><argument name='iso3' xsi:type='string'>EUR,NOK,SEK</argument></arguments>
	</virtualType>
</config>